.list-container {
  width: 100%;
  height: 100%;
}
hr {
  border: 0.5px solid #FF5C00;
}
.list-container h3 {
  color: #8E94F2;
  margin: 0;
  padding: 5px;
  font-weight: 600;
  font-style: bold;
  letter-spacing: 1px;
}
.item-container {
  /* background:green; */
  padding: 10px;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  letter-spacing: 1px;
}
.item {
  background: #1e1e1e;
  width: 19%;
  text-align: center;
  border-radius: 4px;
  margin: 5px 0px;
  font-size: 0.9rem;
  /* border: 1px solid #FF5C00; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item h4, .item h5, .item h6 {
  margin: 2px;
}
.item h4 {
  color: #8E94F2;
}

@media screen and (max-width: 750px) {
  .list-container {
    height: 35vh;
  }
}

@media screen and (min-width: 750px) and (max-width: 1400px) {
  .item {
    width: 8%;
    height: 6vh;
  }
}