.tables-container {
  height: 100%;
  width: 95%;
  /* background: blue; */
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.portfolio, .history {
  height: 50vh;
  width: 100%;
  overflow-y: auto;
  background: #1D1A37;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.92rem;
}

.portfolio h3, .history h3 {
  color: #8E94F2;
  margin: 5px;
  letter-spacing: 1px;
}
#port-symbol {
  color: #D1CCFF;
}
.history {
  height: 30vh;
  overflow-y: auto;
  /* background: yellow; */
}

.portfolio-table {
  color: goldenrod;
  width: 100%;
  border-collapse: collapse;
  /* background: purple; */
}
.portfolio-rows:nth-child(even) {
  background: #302d48;
}

tr:nth-child(1) {
  border-bottom: 0.8px solid cyan;
}
td > button {
  border-radius: 4px;
  width: 80%;
  text-align: center;
  border: none;
  border: 1px solid #8678FF;
  background: none;
}
.table-btn p {
  color: #D1CCFF;
  margin: 0;
  font-size: 15px;
  letter-spacing: 1px;
}

.trade-history-table {
  width: 100%;
  color: goldenrod;
  border-collapse: collapse;
}
.trade-history-table > tr:nth-child(1) {
  border-bottom: 0.5px solid #FF5C00;
}
.history-row {
  color: #FFBB00;
  background: #100865;
}
.history-row > td:nth-child(1) {
  color: #D1CCFF;
}

td, th {
  text-align: center;
}
