.tables-container {
  height: 100%;
  width: 95%;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.portfolio, .history {
  height: 40vh;
  width: 100%;
  overflow-y: auto;
  background: #141414;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.92rem;
}
.history::-webkit-scrollbar,
.portfolio::-webkit-scrollbar  {
  background: #1e1e1e;
  width: 0.3rem;
}
.history::-webkit-scrollbar-thumb,
.portfolio::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  border-radius: 6px;
}

.portfolio h3, .history h3 {
  color: #8E94F2;
  margin: 5px;
  letter-spacing: 1px;
}
#port-symbol {
  color: #c9c5f2;
}
.history {
  overflow-y: auto;
}

.portfolio-table {
  color: goldenrod;
  width: 100%;
  border-collapse: collapse;
}
.portfolio-rows:nth-child(even) {
  background: #1a1b25;
}

tr:nth-child(1) {
  border-bottom: 0.8px solid cyan;
}

.trade-history-table {
  width: 100%;
  color: goldenrod;
  border-collapse: collapse;
}
.trade-history-table > tr:nth-child(1) {
  border-bottom: 0.5px solid #FF5C00;
}
.history-row {
  color: #ffc119;
  background: #1a1b25;
}
.history-row > td:nth-child(1) {
  color: #c9c5f2;
}

td, th {
  text-align: center;
}


@media screen and (max-width: 750px) {
  .portfolio, .history {
    font-size: 0.72rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 750px) and (max-width: 1400px) {
  .portfolio, .history {
    font-size: 1.2rem;
  }
  .portfolio {
    margin-top: -100px;
  }
  .history {
    margin: 30px 0px;
  }
}

@media screen and (max-width: 350px) {
  .portfolio, .history {
    font-size: 0.6rem;
    margin-bottom: 20px;
  }
}