.stock-container {
  width: 95%;
  height: 90%;
  /* background: red; */
  margin: 0 auto;
  flex-direction: column;

}

.stock-container h1, 
.stock-container h2,
.stock-container h4,
.stock-container h6 {
  margin: 2px;

}

.stock-container h1 {
  font-size: 4em;
}

.summary {
  color: #7176c1;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center; 
  font-weight: 400;
}
.summary h1 {
  font-weight: 300;
  color: #8E94F2;
}
.summary h6, .summary h4, .summary h2  {
  color: #8E94F2;
}
.logo-container {
  height: 60px;
  width: 60px;
}
.logo-container img {
  max-height: 100%;
  max-width: 100%;
}

.trading-container {
  width: 100%;
  height: 8vh;
  display: flex;
  margin-top: 20px;
  justify-content:space-around;
}
button {
  color: rgba(250, 250, 250, 0.9);
  width: 30%;
  border-radius: 8px;
  text-align: center;
  font-size: 2em;
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.buy {
  background: #4D3ED4;
}
.sell {
  background: rgb(245, 63, 31);
}

.financials {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 400;
}
.financials p {
  width: 25%;
  /* color: #A79FF1; */
  color: #7176c1;
}

.chart {
  width: 100%;
  height: 35vh;
  margin: 10px 0px;
  /* background: blue; */
}
.tooltip {
  width: 120px;height: 120px;
}
.graph {
  width: 95%;
  height: 90%;
  margin: 0 auto;
  /* background: pink; */
}
.timeline {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.timeline button {
  width: 15%;
  margin: 8px;
  border-radius: 5px;
  background: none;
  color: #fff;
  background: #FF5C00;
  letter-spacing: 1px;
}
.timeline button p {
  margin: 2px;
  font-size: 0.8rem;
}

@media screen and (max-width: 750px) {
  .chart {
    display: none;
  }
  .financials {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  .buy, .sell {
    font-size: 1.5rem;
  }
}